<div>
    <table>
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>mailID</th>
                <th>phoneNo</th>
                <th>date of birth</th>
                <th>gender</th>
                <th>address line 1</th>
                <th>address line 2</th>
                <th>city</th>
                <th>state</th>
                <th>postal code </th>
                <th>country</th>
            </tr>
        </thead>
        <tbody *ngFor="let i in val">
            <tr>
                <td>i.firstname</td>
                <td>i.lastname</td>
                <td>i.mailId</td>
                <td>i.phoneno</td>
                <td>i.dateofbirth</td>
                <td>i.gender</td>
                <td>i.addressline1</td>
                <td>i.addressline2</td>
                <td>i.city</td>
                <td>i.state</td>
                <td>i.firstname</td>
                <td>i.postalcode</td>
                <td>i.country</td>
                
            </tr>
        </tbody>
    </table>
</div>
